.app-bar{
    background-color: bisque;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.app-bar button{
    background-color: cadetblue;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    padding: 0.6rem 1rem;
}